<!-- Button trigger modal -->
 <div class="row">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4">
    </div>
    <button id="welcome" type="button" class="btn btn-lg" data-toggle="modal" data-target="#myModal">
        Welcome!
    </button>
  </div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Welcome to WEcycle!</h4>
      </div>
      <div class="modal-body">
        <p>Welcome to WEcycle! While we are hard at work to add features to the site we are couldn’t wait any longer to share our hard work with you. Our goal is to increase awareness about recycling, best practices, and above all make it fun and approachable. </p>
        <p>Current Features</p>
        <ul>
          <li>waste_not – Members of the WEcycle community can share their repurposed ideas with like minded people. waste_not want_not!</li>
          <li>when_to – Not sure when to drag that recycling to the curb? Tell us your address and we’ll let you know when the recycling man is coming for the month.</li>
          <li>Keep an eye out! we will be adding more to make WEcycle more user friendly and increase functionality.</li>
        </ul>
        <h5>Thank you for being you!</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
