<div class="well">
<%= link_to "", posts_path, class: 'glyphicon glyphicon-arrow-left pull-left' %>
<%= link_to "",  class: 'glyphicon glyphicon-plus pull-right' %>
<div class="row">
<%= render partial: 'post' %>
</div>
</div>