<%= @posts.each do |p| %>
  <div class="well">
    <ul>
      <li><%= post.user.image %></li>
      <li><%= post.user.display_name %></li>
      <li><%= post.user.description %></li>
      </ul>
  </div>


<% end %>