<%= @posts.each do |p| %>
  <div class="well">
    <ul>
      <li><%= p.user.image %></li>
      <li><%= p.user.display_name %></li>
      <li><%= p.user.description %></li>
    </ul>
  </div>


<% end %>