<div class="well">
<%= link_to "", posts_path, class: 'button glyphicon glyphicon-arrow-left pull-left' %>
<%= link_to "",  class: 'button glyphicon glyphicon-plus pull-right' %>
<div class="row">
<%= render partial: 'comments/post' %>
</div>
</div>