body{
  background-image: image-url('all-electronics-recycling-home.jpg');
  background-size: 100%;
  background-repeat: none;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}
.navbar{
  background-color: #5C9437;
  border: none;
  border-radius: 0px;
  .navbar-brand{
   color: #FFFFFE;
  }
  #links{
   color: #FFFFFE;
   a:hover {
    background-color: #568922;
   }
   .title{
    font-size: 30px;
   }
  }

  #droplinks{
    text-align: right;
    color: #5C9437;
  }
}
#welcome{
  position: absolute;
  margin-top: 10%;
  float: none;
  background-color: rgba(53, 90, 28, 0.7);
  color: #F6F6F6;

}
#button{
  background-color: #569030;
  border: none;
}
.button{
  color: #569030;
}
#inner-link{
  color: #569030;
}
.img-responsive{
  margin: 0 auto;
}
.well{
  background-color: #FFFFFF;
}

#icons{
  float: right;
}