body{
  background-image: image-url('all-electronics-recycling-home.jpg');
  background-size: 100%;
  background-repeat: none;

}
.navbar{
  background-color: #5C9437;
  border: none;
  border-radius: 0px;

  .navbar-brand{
   color: #FFFFFE;
  }
  #links{
   color: #FFFFFE;
  }
  #droplinks{
    text-align: right;
    color: #5C9437;
  }

}
.well{
  background-color: #FFFFFF;
}
#icons{
  float: right;
}